
/* 
    Created on : Oct 13, 2023, 7:49:55 PM
    Author     : hp
*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black background */
    color: white;
    padding: 10px 0;
    text-align: center;
}